﻿@page "/Login"
@model OrchidEDIWeb.Pages.Account.LoginModel
@{
    
}

<div class="row justify-content-center">
    <div class="w-auto mt-5">
        <div class="card login-logout-card">
            <div class="row p-5">
                <form asp-action="Login">
                    <partial name="_Message" />
                    <h5 class="text-center">Welcome to Orchid Clearing House</h5>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Account.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="username" />
                        <label asp-for="Account.UserName" class="form-label">UserName</label>
                        <span asp-validation-for="Account.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Account.Password" type="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                        <label asp-for="Account.Password" class="form-label">Password</label>
                        <span asp-validation-for="Account.Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <select class="form-select" id="ddlClients" name="ddlClients" asp-items="Model.ClientOptions">
                        </select>
                        @* <label for="clientList" class="form-label">Client</label> *@
                    </div>
                    <div>
                        <button class="btn btn-primary">Login</button>
                    </div>
                    <div class="mt-2"> <a asp-page="/Account/Register">Register Now</a></div>
                </form>
               
            </div>
        </div>
    </div>
</div>
