﻿@page "/Register"
@model OrchidEDIWeb.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}
<style>
    tr {
      height: 45px;
    }
</style>
<div class="row justify-content-center">
    <div class="w-auto mt-1">
        <div class="card" style="width: 38rem;">
            <div class="row p-3">
                <form asp-action="Register">
                    <partial name="_Message" />
                    <h5 class="text-center">Register to Orchid Clearing House</h5>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="register-fix-header">
                        <table>
                            <tr>
                                <td colspan="7">
                                    <div class="form-floating m-1">
                                    <input asp-for="Client.Name" class="form-control" aria-required="true" placeholder="Client Name" width="70%" />
                                    <label asp-for="Client.Name" class="form-label">Client Name</label>
                                    </div>
                                </td>  
                                <td><span asp-validation-for="Client.Name" class="text-danger"></span></td>
                            </tr>
                            <tr>
                                <td colspan="7">
                                    <div class="form-floating m-1">
                                    <input asp-for="Client.FederalID" class="form-control" aria-required="true" placeholder="Federal ID" /> 
                                    <label asp-for="Client.FederalID" class="form-label">Federal ID</label>
                                    </div>
                                </td>
                                <td><span asp-validation-for="Client.FederalID" class="text-danger"></span></td>
                            </tr>
                            <tr>
                                <td colspan="7">
                                    <div class="form-floating m-1">
                                    <input asp-for="Client.Address1" class="form-control" aria-required="true" placeholder="Address" />
                                    <label asp-for="Client.Address1" class="form-label">Address</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="7">
                                    <div class="form-floating m-1">
                                    <input asp-for="Client.Address2" class="form-control" aria-required="true" placeholder="Address" />
                                    <label asp-for="Client.Address2" class="form-label">Address</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-floating m-1">
                                    <input asp-for="Client.City" class="form-control" aria-required="true" placeholder="City" />
                                    <label asp-for="Client.City" class="form-label">City</label>
                                    </div>
                                </td>
                                <td>&nbsp;</td>
                                <td>
                                    <div class="form-floating m-1">
                                    <input asp-for="Client.State" class="form-control" aria-required="true" placeholder="State" style="width: 70px;" />
                                    <label asp-for="Client.State" class="form-label">State</label>
                                    </div>
                                </td>
                                <td>&nbsp;</td>
                                <td>
                                    <div class="form-floating m-1">
                                    <input asp-for="Client.Zip" class="form-control" aria-required="true" placeholder="Zip" style="width: 80px;" />
                                    <label asp-for="Client.Zip" class="form-label">Zip</label>
                                    </div>
                                </td>
                                <td>&nbsp;</td>
                                <td>
                                    <div class="form-floating m-1">
                                    <input asp-for="Client.ZipPlus4" class="form-control" aria-required="true" placeholder="Zip 4" style="width: 80px;" />
                                    <label asp-for="Client.ZipPlus4" class="form-label">ZipPlus4</label>
                                    </div>
                                </td>
                            </tr>     
                            <tr>
                                <td colspan="7">
                                     <div class="form-floating m-1">
                                    <input asp-for="Client.Phone" class="form-control" aria-required="true" placeholder="Phone" />
                                    <label asp-for="Client.Phone" class="form-label">Phone</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="7">
                                    <div class="ml-5 mt-3"><b>User Information</b></div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="7">
                                    <table width="100%">
                                        <tr>
                                            <td>
                                                 <div class="form-floating m-1">
                                                <input asp-for="User.LastName" class="form-control" aria-required="true" placeholder="Last Name" />  
                                                <label asp-for="User.LastName" class="form-label">Last Name</label>
                                                </div>
                                            </td>
                                            <td><span asp-validation-for="User.LastName" class="text-danger"></span></td>
                                            <td>
                                                 <div class="form-floating m-1">
                                                <input asp-for="User.FirstName" class="form-control" aria-required="true" placeholder="First Name" />     
                                                <label asp-for="User.FirstName" class="form-label">First Name</label>
                                                </div>
                                            </td>
                                            <td><span asp-validation-for="User.FirstName" class="text-danger"></span></td>
                                        </tr>                                        
                                        <tr>
                                            <td colspan="3">
                                                 <div class="form-floating m-1">
                                                <input asp-for="User.UserName" class="form-control" aria-required="true" placeholder="Username" />   
                                                <label asp-for="User.UserName" class="form-label">Username</label>
                                                </div>
                                            </td>
                                            <td><span asp-validation-for="User.UserName" class="text-danger"></span></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                 <div class="form-floating m-1">
                                                <input asp-for="User.Password" type="password" class="form-control" aria-required="true" placeholder="Password" />
                                                <label asp-for="User.Password" class="form-label">Password</label>
                                                </div>
                                            </td>
                                            <td><span asp-validation-for="User.Password" class="text-danger"></span></td>
                                        </tr
                                        <tr>
                                            <td colspan="3">
                                                 <div class="form-floating m-1">
                                                <input asp-for="User.Email" class="form-control" aria-required="true" placeholder="Email" />    
                                                <label asp-for="User.Email" class="form-label">Email</label>
                                                </div>
                                            </td>
                                            <td><span asp-validation-for="User.Email" class="text-danger"></span></td>
                                        </tr>
                                    </table>
                                </td>                                
                            </tr>
                            <tr>
                                <td colspan="8">
                                    <button class="btn btn-primary mt-3">Register</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

