﻿@page "ClaimHistory"
@model OrchidEDIWeb.Pages.ManageClaims.ClaimHistoryModel
@{
}
<div class="mt-20">
    <partial name="_ManageClaimsNav" />
</div>
<div>
    <div class="mt-2">
        <partial name="_Message" />
    </div>
    <div class="text-primary">Search Claim History</div>
    <form method="post">
        <table cellpadding="3">
            <tr>
                <td width="140px"><label>Search By</label></td>
                <td colspan="2">
                    <select id="ddlSearchBy" name="ddlSearchBy" class="form-select" aria-label="Search By">
                        <option value="patient" style="line-height:30px;">Patient</option>
                        <option value="provider" style="line-height:30px;">Provider</option>
                        <option value="payer" style="line-height:30px;">Payer</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Account #</label></td>
                <td width="80px"><button id="btnFilterAcctNo" name="btnFilterAcctNo" type="button" class="badge bg-light" style="width:80px;" onclick="OnbtnFilterToggle('btnFilterAcctNo');">[ALL]</button></td>
                <td width="50px">From</td>
                <td><input type="text" class="form-control" id="txtFilterAcctNoFrom" name="txtFilterAcctNoFrom" style="width:150px;"></td>
                <td width="40px" align="center">To</td>
                <td><input type="text" class="form-control" id="txtFilterAcctNoTo" name="txtFilterAcctNoTo" style="width:150px;"></td>
                <td> <input type="hidden" id="btnFilterAcctNoToggle" name="btnFilterAcctNoToggle" value="all"></td>
            </tr>
            <tr>
                <td><label>Name</label></td>
                    <td colspan="4"><input type="text" class="form-control" id="txtFilterName" name="txtFilterName" style="width:290px;"></>
            </tr>
            <tr>
                <td><label>Date of Service</label></td>
                <td><button id="btnFilterDOS" name="btnFilterDOS" type="button" class="badge bg-light" style="width:80px;" onclick="OnbtnFilterToggle('btnFilterDOS');">[ALL]</button></td>
                <td>From</td>
                <td>
                    <input name="dateDosStart" id="dateDosStart" type="date" class="form-control" value="" />
                </td>
                <td width="40px" align="center">To</td>
                <td><input name="dateDosEnd" id="dateDosEnd" type="date" class="form-control" value="" /></td>
                <td> <input type="hidden" id="btnFilterDOSToggle" name="btnFilterDOSToggle" value="all"></td>
            </tr>
            <tr>
                <td><label>Submission Date</label></td>
                <td><button id="btnFilterSubmitDate" name="btnFilterSubmitDate" type="button" class="badge bg-light" style="width:80px;" onclick="OnbtnFilterToggle('btnFilterSubmitDate');">[ALL]</button></td>
                <td>From</td>
                <td><input name="dateSubmitStart" id="dateSubmitStart" type="date" class="form-control" /></td>
                <td width="40px" align="center">To</td>
                <td><input name="dateSubmitEnd" id="dateSubmitEnd" type="date" class="form-control"/></td>
                <td> <input type="hidden" id="btnFilterSubmitDateToggle" name="btnFilterSubmitDateToggle" value="all"></td>
            </tr>
            <tr>
                <td><button id="btnSearch" type="submit" class="btn btn-primary" href="" asp-page-handler="Search">Search</button></td>
        </tr>
        </table>
    </form>    
    <div class="mt-3">
        <div class="text-primary">List Claim</div>
        <div class="table-fix-header">
            <table id="listTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>File Name</th>
                        <th>Submit Date</th>
                        <th>DOS</th>
                        <th>Patient Name</th>
                        <th>Provider Name</th>
                        <th>Payer</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @* @if (Model.Files != null)
                    {
                        @foreach (var file in Model.Files)
                        {
                            <tr>
                                <td>@file.FileName</td>
                                <td>@file.ReceivedDate</td>
                                <td>@file.FileStatusName</td>
                            </tr>
                        }
                    }
                    else
                    { *@
                        <tr><td colspan="7">No Data</td></tr>
                    @* } *@
                </tbody>
            </table>
        </div>
    </div>
    <div class="mt-2">
        <form method="post">
            <input name="navFirst" asp-page-handler="PageNavigate" asp-route-nav="first" type="submit" value=&#9198; style='background-color:transparent; border:none;font-size:30px;' />
            <input name="navPrev" asp-page-handler="PageNavigate" asp-route-nav="prev" type="submit" value=&#9204; style='background-color:transparent; border:none;font-size:30px;' />
            <label style='font-size:20px;' for="page">Page:</label>
            <select style='font-size:20px;' name="pages" id="pages">
                @* @if (Model.Pages != null)
                {
                    @foreach (var pageIdx in Model.Pages)
                    {
                        @if (ViewData["PageNo"] == pageIdx)
                        {
                            <option value=@pageIdx selected> @pageIdx </option>
                        }
                        else
                        {
                            <option value=@pageIdx> @pageIdx </option>
                        }
                    }
                } *@
            </select>

            <input name="navNext" asp-page-handler="PageNavigate" asp-route-nav="next" type="submit" value=&#9205; style='background-color:transparent; border:none;font-size:30px;' />
            <input name="navLast" asp-page-handler="PageNavigate" asp-route-nav="last" type="submit" value=&#9197; style='background-color:transparent; border:none;font-size:30px;' />

        </form>
    </div>
</div>

<script type="text/javascript">
    function OnbtnFilterToggle(btnFilterName) {
        if (document.getElementById(btnFilterName).innerText == "[ALL]")
            document.getElementById(btnFilterName).innerText = "[RANGE]";
        else
            document.getElementById(btnFilterName).innerText = "[ALL]";

        document.getElementById(btnFilterName + 'Toggle').value = document.getElementById(btnFilterName).innerText;
        alert(document.getElementById(btnFilterName + 'Toggle').value);
    }
</script>