﻿@page "/ReceiveFile"
@model OrchidEDIWeb.Pages.ManageClaims.ReceiveFileModel
@{
}
<div class="mt-2">
<partial name="_ManageClaimsNav" />
<h1>Receive File - Get the response files or result</h1>
</div>