﻿@page "/SendFile"

@model OrchidEDIWeb.Pages.ManageClaims.SendFileModel
@{
    
}


<div class="mt-20">
    <partial name="_ManageClaimsNav" />
</div>
<div>
    <div class="mt-2">
        <partial name="_Message" />
    </div>
    <div class="mt-2">
        <form method="post" enctype="multipart/form-data">
            <div class="text-primary">Send Claims</div>
            <div>Select ansi file to upload
                <input type="file" asp-for="Upload" />
                <input asp-page-handler="UploadFile" type="submit" />
            </div>
            @* <div>
                <span>@Html.Raw(Model.Message)</span>
            </div> *@
        </form>
    </div> 
    <div class="mt-3">
        <div class="text-primary">List Received Files</div>
            <div class="table-fix-header">
                <table id="listTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Received Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    @if (Model.Files != null)
                    {
                        @foreach (var file in Model.Files)
                        {
                            <tr>
                                <td>@file.FileName</td>
                                <td>@file.ReceivedDate</td>
                                <td>@file.FileStatusName</td>
                            </tr>
                        }
                    } else
                    {
                        <tr><td colspan="3">No Data</td></tr>
                    }
                </tbody>
                </table>
            </div>
    </div>      
    <div class="mt-2">
        <form method="post">
            <input name="navFirst" id="navFirst" asp-page-handler="PageNavigate" asp-route-nav="first" type="submit" value=&#9198; style='background-color:transparent; border:none;font-size:30px;' />
            <input name="navPrev" asp-page-handler="PageNavigate" asp-route-nav="prev" type="submit" value=&#9204; style='background-color:transparent; border:none;font-size:30px;' />
            <label style='font-size:20px;' for="page">Page:</label>
            <select style='font-size:20px;' name="pages" id="pages">
                @if (Model.Pages != null)
                {
                    @foreach (var pageIdx in Model.Pages)
                    {
                        @if (ViewData["PageNo"] == pageIdx) {
                            <option value=@pageIdx selected> @pageIdx </option>
                        } else { 
                            <option value=@pageIdx> @pageIdx </option>
                        }
                    }
                }
            </select>

            <input name="navNext" asp-page-handler="PageNavigate" asp-route-nav="next" type="submit" value=&#9205; style='background-color:transparent; border:none;font-size:30px;' />
            <input name="navLast" asp-page-handler="PageNavigate" asp-route-nav="last" type="submit" value=&#9197; style='background-color:transparent; border:none;font-size:30px;' />

        </form>
    </div>
</div>
<script type="text/javascript">
    $('#listTable tbody tr').click(function () {        
        $(this).addClass('table-warning').siblings().removeClass('table-warning');
    });
</script>

               