html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: Roboto,'Microsoft Sans Serif',sans-serif;
  margin-top:80px;
}

.header {
    position: fixed;
    top: 0px;
    width: 100%;
}

/*Tab Navigation*/
.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
}

.login-logout-card ul-nav-tabs {
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width:50%;
}

.login-logout-card a.nav-link {
    font-size: 1rem;
    color: #495057;
    text-align: center;
    padding: 1rem;
}

.login-logout-card .card-body {
    padding: 10px 20px;
}

.table-fix-header {
    overflow: auto;
    height: 400px;
}

.table-fix-header thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

.register-fix-header {
    overflow: auto;
    height: 500px;
}

@media (max-height: 350px) {
    .table-fix-header {
        overflow: auto;
        height: 200px;
    }

    .table-fix-header thead th {
        position: sticky;
        top: 0;
        z-index: 1;
    }
    .register-fix-header {
        overflow: auto;
        height: 200px;
    }
}