﻿<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.btn').forEach(link => {
            if (link.getAttribute('href').toLowerCase() === location.pathname.toLowerCase()) {
                link.classList.add('btn-outline-primary');
            } else {
                link.classList.add('btn-outline-secondary');
            }
        });
    })
</script>

<div id="topNav">
    <a id="send" asp-page="/ManageClaims/SendFile" class="btn">Send File</a>
    <a id="receive" asp-page="/ManageClaims/ReceiveFile" class="btn">Receive File</a>
    <a id="reject" asp-page="#" class="btn">Rejected Claims</a>
    <a id="history" asp-page="/ManageClaims/ClaimHistory" class="btn">Claim History</a>
</div>

