﻿@using System.Security.Claims;
<nav class="navbar navbar-expand-md bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <div class="order-0">
            <a asp-page="#">
                <img src="~/images/JMKTopLogo.png" style="height:40px;margin-left:15px;margin-right:15px;" />
            </a>        
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse order-1 order-md-0 dual-collapse2" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" asp-page="/index">Home</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/privacy">Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/ManageClaims/SendFile">Manage Claims</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/privacy">Manage Payments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/privacy">Manage Patients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Logout">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/User/DisplayAll">User</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>                    
                }                
                <li class="nav-item">
                    <a class="nav-link" asp-page="/about">About</a>
                </li>
                @if(User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Account/Logout">Logout</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link active" asp-page="/Account/Login">
                            Login
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div>
            @*  class="collapse navbar-collapse" > *@
            <ul class="navbar-nav me-auto">                
                @if (User.Identity.IsAuthenticated)
                {                    
                    <li class="nav-item">
                        @{
                            string userLogin = ((ClaimsIdentity)User.Identity).FindFirst("FullName").Value;
                        }
                        <a class="nav-link" asp-page="#">Welcome @userLogin</a>
                    </li>                    
                }
                
            </ul>
            
        </div>
    </div>
</nav>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.nav-link').forEach(link => {
            if (link.getAttribute('href').toLowerCase() === location.pathname.toLowerCase()) {
                link.classList.add('active');
            } else {
                link.classList.remove('active');
            }
        });
    })
</script>