﻿@page "/User/New"
@model OrchidEDIWeb.Pages.User.CreateModel
@{
}
<partial name="_Message" />

<div>
    <h1>Add New User</h1>
    <form asp-action="Create">
        <div class="form-group">
            <label asp-for="TblUser.LastName"></label>
            <input asp-for="TblUser.LastName" class="form-control" />
            <span class="text-danger" asp-validation-for="TblUser.LastName"></span>
        </div>
        <div class="form-group">
            <label asp-for="TblUser.FirstName"></label>
            <input asp-for="TblUser.FirstName" class="form-control" />
            <span class="text-danger" asp-validation-for="TblUser.FirstName"></span>
        </div>
        <div class="form-group">
            <label asp-for="TblUser.UserName"></label>
            <input asp-for="TblUser.UserName" class="form-control" />
            <span class="text-danger" asp-validation-for="TblUser.UserName"></span>
        </div>
        <div class="form-group">
            <label asp-for="TblUser.Password"></label>
            <input asp-for="TblUser.Password" class="form-control" type="password" />
            <span class="text-danger" asp-validation-for="TblUser.Password"></span>
        </div>
        <div class="form-group">
            <label asp-for="TblUser.Email"></label>
            <input asp-for="TblUser.Email" class="form-control" />
            <span class="text-danger" asp-validation-for="TblUser.Email"></span>
        </div>
        <div class="form-check">
            <label class="form-check-label" for="UserClient.IsActive"> Active</label>
            <input asp-for="UserClient.IsActive" class="form-check-input" type="checkbox" >
        </div>
        <div class="my-2">
            <button class="btn btn-primary">Save</button>
            <a asp-page="DisplayAll" class="btn btn-secondary">Show All Records</a>
        </div>
    </form>
</div>