﻿@page "/User/List"
@model OrchidEDIWeb.Pages.User.DisplayAllModel
@{
}
<partial name="_Message" />
<div>
    <div class="mb-2"> <a asp-page="Create" class="btn btn-primary">Add new user</a>
        @* <button class="btn btn-primary">Add new user</button>  *@
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Active</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in Model.Users)
            {
                <tr>
                    <td>@(user.LastName +", " + user.FirstName)</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td><input asp-for=@user.IsActive class="form-check-input" type="checkbox" id="chkIsActive" name="chkIsActive" value="" onclick="return false;"></td>
                    <td>
                        <a asp-page="Edit" asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
                    </td>
                    <td>
                        <form asp-page="DisplayAll">
                            <button onclick="return confirm('Are you sure?');" asp-page-handler="Delete" asp-route-userClientId="@user.UserClientId" asp-route-id="@user.Id" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>